.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1440px;
  padding: 50px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;

  .logo {
    width: 120px;
  }

  .nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
    font-family: var(--font-roboto);
    font-size: 14px;
    color: white;
    li a{
        font-size: 24px;
        font-weight: 400;
    }
  }
}
